<link ref="stylesheet" href="word-echo.component.css" />
<app-wordlist (wordsLoaded)="onWordsLoaded($event)"></app-wordlist>
<div>
  <button (click)="replaceSpacesWithOpenBox()">Toggle Space</button>
</div>
<div class="container">
  <div class="word">
    @for(char of charList; track char; let i = $index) { @if
    (charList[i].wordIndex !== null) {
    <span
      [class.nan]="charList[i].status === 'untyped'"
      [class.incorrect]="charList[i].status === 'incorrect'"
      [class.correct]="charList[i].status === 'correct'"
      [ngClass]="{ 'current-char': i === inputText.length }"
      >{{ charList[i].char }}</span
    >
    } @else { @if (useSpace) {
    <span [ngClass]="{ 'current-char': i === inputText.length }">&nbsp;</span>
    } @else {
    <span
      [class.nan]="charList[i].status === 'untyped'"
      [class.incorrect]="charList[i].status === 'incorrect'"
      [class.correct]="charList[i].status === 'correct'"
      [ngClass]="{ 'current-char': i === inputText.length }"
      >&#9251;</span
    >
    } } }
  </div>
  <br />
</div>
<div class="debug">
  <h3>Debug</h3>
  <span>inputText: {{ inputText }}</span>
  <br />
  <span>word: {{ word }}</span>
  <br />
  <span>rawInput: {{ rawInput }}</span>
  <br />
  <span>
    incorrectChars: @for (char of incorrectChars; track char) {
    {{ char.char }}
    }</span
  >
  <input
    type="hidden"
    (window:keydown.backspace)="backspace()"
    (window:keydown.escape)="clear()"
  />
</div>
